:root {
    --cor-bg-primario: #12131C;
    --cor-bg-secundario:#1A1C29;
    --cor-bg-terciario:#7C6CF2;

    --texto-branco: #ffffff;
    --texto-azul: #456290;
    --texto-verde: #34D399;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

* {margin: 0; padding: 0}