:root {
  --cor-bg-primario: #12131c;
  --cor-bg-secundario: #1a1c29;

  --cor-button-primario: #685cc4;
  --cor-button-secundario: #7c6cf2;

  --cor-borda: #2a2d40;

  --texto-branco: #ffffff;
  --texto-azul: rgb(69, 98, 144);
  --texto-cinza: #8d90a3;
  --texto-verde: #34d399;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: var(--cor-bg-primario);
  color: var(--texto-branco);
  height: 2000px;
}
