header {
  height: 68px;
  padding: 14px 16px;
  background-color: var(--cor-bg-secundario);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side-menu-img {
  height: 44px;
  padding: 10px;
  border: 1px solid rgba(69, 98, 144, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.logo-img {
  height: 40px;
}

.perfil-img {
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
