.secao-de-pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  padding: 20px 20px;
}

.secao-de-pesquisa input {
  width: 100%;

  padding: 10px 12px;
  font-size: 16px;
  color: var(--texto-branco);
  background-color: var(--cor-bg-secundario);

  border: 1px solid var(--cor-borda);
  border-radius: 10px;
}

.secao-de-pesquisa button {
  background-color: var(--cor-button-secundario);

  font-size: 16px;
  font-weight: bold;
  color: var(--texto-branco);

  width: 90px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.secao-de-pesquisa button:hover {
  background-color: var(--cor-button-primario);
  transition: background-color 0.3s;
}
